body{
  text-align: center;
  color: #3C096C;
  background-color: #C77DFF;
}

.custom-file-label {
  background-color: #E0AAFF;
  border-color: #E0AAFF;
}

.btn-outline-secondary {
  color: white;
  background-color: #3C096C;
}

@media (max-width: 575.98px) {
  #upload-div{
    display: flex;
    flex-direction: column;
  }
  #upload-div *{
    width: 100%;
  }
  .custom-file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-radius: 0px;
  }
  .custom-file-label::after {
    display: none;
  }
  .btn-outline-secondary {
    margin-top: 3rem;
    margin-left: 1.5px;
    border-radius: 0px;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
  #upload-div{
    display: flex;
    flex-direction: column;
  }
  #upload-div *{
    width: 100%;
  }
  .custom-file-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    border-radius: 0px;
  }
  .custom-file-label::after {
    display: none;
  }
  .btn-outline-secondary {
    margin-top: 3rem;
    margin-left: 1.5px;
    border-radius: 0px;
  }
}